:root {
    --pink: #f14e95;
    --bg: #9bc8f3;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 4000px;
    font-weight: bold;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg-prewed.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    
}

.hero {
    position: relative;
    min-height: 100vh;

.hero h1, .hero h4, .hero p {
text-shadow: var(--shadow);
}
     
.hero p {
    font-size: 1rem;
    color: rgb(7, 7, 7);
}

}
.hero h1 {
    font-family: 'sacramento', cursive;
    font-size: 2.7rem;
    font-display: center;
    font-weight: bold;
    text-shadow: var(--shadow);
    
    
}

.hero h4 {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(7, 7, 7);
}

.hero p {
    font-size: 1rem;
    color: rgb(7, 7, 7);
}

.hero a {
    color: rgb(7, 7, 7);
    background-color: rgb(5, 250, 86);
    font-weight: bold;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--pink);
    color: rgb(49, 226, 43);
    font-weight: bold;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0,5) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 70vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
  font-family: 'sacramento', cursive;
  font-size: 3rem;
  font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
    
}

.home {
    background-image: url(img/bg.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
    font-weight: bold;
    
}

.home h2, 
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
    color: var(--pink);
    font-family: 'sacramento';
    font-size: 4rem;
    font-weight: bold;
    
}

.home h3 {
    color: #0a0a0a;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 0.8rem;
    color: #0f0f0f;
}

.home .couple {
    margin-top: 100px;
}

.home .couple h3 {
    font-family: 'sacramento';
    font-size: 1.7rem;
    color: var(--pink);
    font-weight: bold;
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0,5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    position: absolute;
    right: 5%;
    font-size: 50px;
    margin: auto;
    position: absolute;
    color: var(--pink);
}

.info {
    background-color: var(--bg);
    color: rgb(17, 17, 17);
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-weight: bold;
    margin: auto;
    
}


@media (max-width: 1200px) {
    .home .heart {
        display: none;
    }
}

.info .alamat {
    font-size: 1.1rem;
    color:  rgb(8, 8, 8)
}

.info .description {
    font-size: 1rem;
    color:  rgb(8, 8, 8)
    font-weight: bold;
   
}

.info .card {
    background-color: rgba(236, 14, 14, 0.2) !important;
    color:  rgb(8, 8, 8) !important;
    border: 1px solid #111111;
    font-weight: bold;
}

.info .card-header {
    border-bottom: 1px solid #0f0f0f;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.info .card-body {
    font-size: 1rem;
     color:  rgb(8, 8, 8)
}

.info .card-footer {
    border-top: 1px solid #111111;
    font-size: 2rem;
    font-weight: 300;
}

.story, 
.gallery,
.rsvp,
.gifts {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.story span,
.gallery span,
.gifts span {
    text-transform: uppercase;
    color: #666;
    font-size: 1rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.story p, 
.gallery p,
.rsvp p,
.gifts p {
    font-size: 1rem;
    font-weight: 300;

}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}
.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color:  #cccccc31;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
}

.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.gallery {
    background-color: #e0cffc;
}

.rsvp {
    background-color: var(--bg);
}

.rsvp h2 {
    font-size: 4.5rem;
}

.rsvp p {
    color: var(--bg);
}

.rsvp form label {
    font-size: 1rem;
    font-weight: bold;
}

.rsvp button {
    background-color: rgb(5, 250, 86);
    color: #fff;
    border: 1px solid var(--pink);
}

.rsvp button:hover {
    background-color: var(--pink);
    color: var(--bg);
    border: 1px solid white;
}

footer {
    padding: 0.5rem;
    font-size: 15px;
    background-color: rgb(7, 7, 7);
    color: white;
}

footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--pink);
    font-size: 30px;
}

footer li {
    list-style: none;
    display: inline;
    margin: 5rem;
}

.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    cursor: pointer;
    color: red;
    opacity: 50%;
    mix-blend-mode: difference;
    animation: rotating 5s linear infinite;
    transform-origin: center;
    font-display: flex;
    line-height: 0;
    justify-content: center;
    align-items: center;
}

@keyframes rotating {
    form {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}





/* media query */
/* laptop */
@media (max-width: 992px) {
html {
    font-size: 65%;
    }
    .simply-countdown-circle > .simply-section {
    padding: 70px;
    }
.home .heart {
    display: none;
}
.timeline::before {
    left: 60px;
}

.timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 45px;
}

.timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
}

.timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}


}
/* tablet */

@media (max-width: 768px) {
html {
    font-size: 65%;
    }

    .simply-countdown-circle > .simply-section {
        padding: 60px;
        margin: 5px;
    }

    .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
    }

    .sticky-top {
        overflow: hidden;

    }

    .timeline li .timeline-image {
    width: 120;
    height: 120px;
    }

     .timeline li .timeline-image {
    width: 100;
    height: 100px;
    }
}

/* handphone */
@media (max-width: 500px) {
html {
    font-size: 45%;
    }  

    .simply-countdown-circle > .simply-section {
        padding: 30px;
        margin: 4px;
    }

    .timeline li .timeline-image {
    width: 100;
    height: 100px;
    top: 10px;
    }

    .timeline li .timeline-panel {
        width: 100%;
        transform: translateX(1rem);
    }

    .timeline li.timeline-panel::before {
        top: 100px;

    }

     .timeline li.timeline-panel::after {
        top: 101px;
        
    }
}












